<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    {% if error %}
        <h1> {{ error }} </h1>
    {% endif %}
<form method="post" action="/register/">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username" required><br>
    <label>Password:</label>
    <input type="password" name="password" required><br>
    <label>First name:</label>
    <input type="text" name="firstname"><br>
    <label>Last name:</label>
    <input type="text" name="lastname"><br>
    <label>Email:</label>
    <input type="email" name="email"><br>
    <button type="submit">Register</button>
</form>
</body>
</html>